
@{
    ViewBag.Title = @CSWSWEBResources.Resource.ContactUs;
    ViewBag.BKImagHolder = "<div class=\"background_image_holder contact_us_img\">";
    Layout = "~/Views/Shared/_csLayout.cshtml";
 }

    <div class="content contact_content">
        <span class="title  @CSWSWEBResources.Resource.CSSTitleFontSize">@CSWSWEBResources.Resource.ContactUs</span>
    <div style="height:2px;"></div>
    <p >
        @CSWSWEBResources.Resource.Email:<span class="sp_no_letter_space"><a  href="mailto:info@christopherstewart.com"> info@christopherstewart.com</a></span>
        <br>@CSWSWEBResources.Resource.Tollfree:<span class="sp_no_letter_space"> 1.866.888.CSWS&nbsp;(2797)</span>
    <br>@CSWSWEBResources.Resource.Fax:<span class="sp_no_letter_space"> 604.608.3636</span>
</p>
    <div class="space"></div>
    <div class="sp_no_letter_space">
    <span class="canada sp_no_letter_space">@CSWSWEBResources.Resource.Canada</span>
    <hr class="arealine">
    <p class="sp_no_letter_space"> 
        <b>Vancouver</b>
        <br>Suite 2139-11871 Horseshoe Way, Richmond, BC V7A 5H5<br>
        @CSWSWEBResources.Resource.Phone: 604.274.8481
    </p>
    <p class="sp_no_letter_space">
        <b>Calgary</b>
        <br>100-1039, 17th Avenue S.W. Unit 258, Calgary, Alberta T2T 0B2<br>
        @CSWSWEBResources.Resource.Phone: 403.668.0380
    </p>
    <!--p><B>Edmonton</b>
    <br>100-1039, 17th Avenue S.W. Unit 258, Calgary, Alberta T2T 0B2
    <br>Phone: 403.668.0380</p-->
    <p>
        <b>Winnipeg</b>
        <br>355 - 63 Goulet Street, Winnipeg, Manitoba R2H 0G1
        <br>@CSWSWEBResources.Resource.Phone: 204.480.6420
    </p>
    <p>
        <b>Toronto</b>
        <br>157 Adelaide Street West Unit 360 Toronto, Ontario M5V 3S5
        <br>@CSWSWEBResources.Resource.Phone: 416.907.6284
    </p>
        <p>
            <b>Quebec</b>
            <br>925 Boulevard de Maisonneuve West Suite 365 Montreal, QC H3A 0A5
            <br>@CSWSWEBResources.Resource.Phone: 416.907.6284
        </p>
    <p>
        <b>Halifax</b>
        <br>3045 Robie St, Suite 411, Halifax NS B3K4P6
        <br>@CSWSWEBResources.Resource.Phone: 902.482.1309
    </p>
   
    <div class="space"></div>

    <span class="canada">@CSWSWEBResources.Resource.HongKong</span>
    <hr class="arealine">
    <p>
        @CSWSWEBResources.Resource.HongKongAddress
        <br>@CSWSWEBResources.Resource.Phone: 852.3469.5009
    </p>
    </div>
</div><!--div class="content"-->

