@model CSWSWEBMVC.Models.MenuItems
@{string rootHref = @Model.RootHrefCulture;
    string porfolioBackImage = "background-image:url('../../Images/welcome/Portfolio/"+ DateTime.Now.Month.ToString() + ".jpg');";
    }

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="@CSWSWEBResources.Resource.HtmlLang" lang="@CSWSWEBResources.Resource.HtmlLang" prefix="og: http://ogp.me/ns#">
<head>
    <meta name="description" content="@CSWSWEBResources.Resource.CSWSDescription">
    <meta name="author" content="Christopher Stewart Wine & Spirits">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="p:domain_verify" content="9f42a9b77a7e31aeaf7dc7f0d21b4f59" />
    <!--link rel="icon" href="favicon.ico" -->
    <link rel="icon" type="image/png" href="images/Address-bar-icon.png">
    <link rel="canonical" href="http://www.christopherstewart.com/" />

    <title>@CSWSWEBResources.Resource.CSWS</title>
    @Styles.Render("~/Content/jquery-confirm.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/js/ie10-viewport-bug-workaround.js")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    @Scripts.Render("~/js/bootstrap.min.js")
    @Styles.Render("~/Content/index.css")

    <!--script for analytics -->
    <script type="application/ld+json">
       
         {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "url": "http://www.christopherstewart.com",
        "logo": "http://www.christopherstewart.com/images/logo.png"
        }
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-62414402-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct: "b5Yol1ao9rD0Y8", domain: "christopherstewart.com", dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=b5Yol1ao9rD0Y8" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->
</head>
<!-- NAVBAR
================================================== -->
<body class="@CSWSWEBResources.Resource.CSSBodySpace">
    <!-- menu -->
    <div class="navbar-wrapper menu-holder">
        <div class="container">
            <div class="navbar navbar-default menu_holder" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@rootHref"><img width="212" height="49" src="~/Images/@CSWSWEBResources.Resource.CSWSLogoImage"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right menuUL">
                            <li class="menuli"><a class="menuPortfolio" href="">@CSWSWEBResources.Resource.Portfolio</a></li> 
                            <li class="menuli"><a href="@rootHref/Gallery">@CSWSWEBResources.Resource.ArtGallery</a></li>
                            <li class="menuli"><a href="@rootHref/Quote">@CSWSWEBResources.Resource.QuoteMenu</a></li>
                            <li class="menuli"><a href="@rootHref/Newsletter">@CSWSWEBResources.Resource.Newsletter</a></li>
                     
                        @{if (Request.Cookies[@CSWS_Conponent.CSWSConstants.COOKIE_CSWS_USER_SESSION] == null) // not signed in yet
                            {
                            <li class="menuli signin_menu">
                                <a href="@Model.CSWSIndsutryHref/Account/SignIn">@CSWSWEBResources.Resource.Industry</a>
                            </li>
                            }
                            else // signed in
                            {
                              
                            <li class="dropdown menuli profile_menu">
                                <a href="" class="entry_dropdown_toggle dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@CSWSWEBResources.Resource.MyAccount</a>
                                <ul class="dropdown-menu cs_dropdow_menu" role="menu">
                                <li>@Html.ActionLink(@CSWSWEBResources.Resource.Profile, "Profile", "Account")</li>
                                <li><a href="@Model.CSWSDomainHref" class="menuLogout">@CSWSWEBResources.Resource.LogOut</a></li>
                                </ul>
                            </li>
                         }
                       }
                        <li class="dropdown menuli changelan">
                            <a href="" class="entry_dropdown_toggle dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <table class="table_lang_icon"><tr>
                                    <td class="td_lang_icon"><img class="img_lang_icon" src="~/images/btn_lang.png"></td>
                                    <td>@Model.MenuItemParent<span class="caret"></span></td>
                                </table>
                            </a>
                            <ul class="dropdown-menu cs_dropdow_menu" role="menu">
                                <li><a href="~/@Model.MenuItemSub_1_lanCode/SwitchLanguage">
                                    <table><tr>
                                        <td class="td_lang_icon td_lan_icon_leftspace"><img class="img_lang_icon" src="~/images/btn_lang.png"></td>
                                        <td>@Model.MenuItemSub_1</td>
                                    </tr></table>
                                    </a>
                                </li>
                                <li><a href="~/@Model.MenuItemSub_2_lanCode/SwitchLanguage">
                                    <table><tr>
                                            <td class="td_lang_icon td_lan_icon_leftspace "><img class="img_lang_icon" src="~/images/btn_lang.png"></td>
                                            <td>@Model.MenuItemSub_2</td>
                                        </tr></table>
                                        </a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>

                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </div><!--/navbar navbar-defaul -->
        </div><!-- container -->
    </div> <!-- menu-holder -->
  
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide oqupid_size" data-ride="carousel" data-interval="6000"> <!-- 6000 to active carousel slide； false to deactive-->
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
        </div>
    </div>

    <!--3 pannels -->
    <div class="row home_pannel_row">
        <!--portfolio-->
        <div class="panels_div col-md-4" id="div_portfolio" style=@porfolioBackImage>
       
            <a class="panellink portfoliolink">
                <div class="portfolioLinkHolder">
                    <div class="ptfTitleHolder @CSWSWEBResources.Resource.CSSPTFTitleHolder" >@CSWSWEBResources.Resource.PortfolioCapital</div>
                    <div class="ptfInfoHolder @CSWSWEBResources.Resource.CSSPTFINFOHolder"></div>

                </div>
            </a>
        </div> <!--portfolio ends here-->
        <!--quote-->
        <div class="panels_div col-md-4 middlepannel quote_image" id="divf_quote">
            <a id="quote_link" href="@rootHref/Quote">
                <div style="height:100%; width:100%;">
                    <div class="quote_space"><div class="quote_space_text @CSWSWEBResources.Resource.CSSQTSPACETEXT">@CSWSWEBResources.Resource.QuoteOfDay</div></div>
                    <div class="quote_center_holder">
                        <div class="quote_link_text">
                            <div class="quote_hyperlink panellink quote_img_link">
                                <div class="dark_color">@CSWSWEBResources.Resource.CSWSQuote</div>
                                <div class="dark_color clickview">@CSWSWEBResources.Resource.ClickView</div>
                            </div>
                            <div class="quote_details panellink quote_img_link">
                                <div class="quote_text"></div>
                                <div class="clickview  quote_app quote_author"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div> <!--quote ends here-->

        <input type="hidden" id="quote_id" value="0" />
        <!--gallery-->
        <div class="panels_div col-md-4 @CSWSWEBResources.Resource.ArtGalleryImgLink" id="div_gallery">

            <a class="panellink gallery_img_link" href="@rootHref/Gallery">
                <div style="height:100%; width:100%;"></div>
            </a>

        </div><!--gallery ends here-->

   
    </div><!-- middle content) ends here-->
    <!-- bottom -->
    <footer class="footer_holder">
        <div class="row footer_menu_holder">
            <div class="col-md-6 csws_col-md-6 footer_row_1_left">
                <table class="table_map_holder">
                    <tr>
                        <td><div class="map"><a class="provincemap" href="@rootHref/Region"> </a></div></td>
                        <td style="text-align:center;"><a class="regionText regionText_hplk" href="@rootHref/Region"></a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 csws_col-md-6  footer_row_1_right">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td class="td_aboutus"><div class="bottom_menu_item menuAboutUs"><a href="@rootHref/AboutUs">@CSWSWEBResources.Resource.AboutUs</a></div></td>
                            <td class="td_contact"><div class="bottom_menu_item menuContactUs"><a href="@rootHref/ContactUs">@CSWSWEBResources.Resource.ContactUs</a></div></td>
                            <td class="td_feedback"><div class="bottom_menu_item feedback_menu_item menuFeedBack"><a href="@rootHref/FeedBack">@CSWSWEBResources.Resource.FeedBack</a></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--  <div class="row footer_menu_holder"> end-->

        <div class="row  footer_icon_holder">
            <div class="col-md-6 csws_col-md-6 footer_row_2_left">
                <table style="width:100%">
                    <tr>
                        <td><div class="facebook "><a href="https://www.facebook.com/pages/Christopher-Stewart-Wine-and-Spirits/49793071898" target="blank"><img src="~/images/btn_fb.png" border="0" /></a></div></td>
                        <td><div class="twitter div_twitter"><a href="https://twitter.com/CSWS_Inc" target="blank"><img src="~/images/btn_tw.png" border="0" /></a></div></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 csws_col-md-6 footer_row_2_right">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td><div class="instagram"><a href="https://www.instagram.com/christopherstewart" target="blank"><img src="~/images/btn_ins.png" /></a></div></td>
                            <td><div class="pinterest"><a href="https://www.pinterest.com/CSWSCanada" target="blank"><img src="~/images/btn_pin.png" /></a></div></td>
                           @* <td><div class="googleplus"><a href="https://plus.google.com/u/0/b/114378048241762007757/+Christopherstewartwineandspirits" target="blank"><img src="~/images/btn_gp.png" /></a></div></td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="copyright">@CSWSWEBResources.Resource.Copyright @DateTime.Now.Year @CSWSWEBResources.Resource.CSWSARR</div><!-- /copyright -->

    </footer>
        <input type="hidden" class="province_id" value="1" />
        <input type="hidden" class="heroImgNumbers" value="1" />

        <!-- JavaScript
        ================================================== -->

        @Scripts.Render("https://code.jquery.com/ui/1.10.2/jquery-ui.js")
        <!-- for Gallery scripts-->
        @Scripts.Render(@CSWSWEBResources.Resource.JS_MSG_FILE)
        @Scripts.Render("~/js/jsCookies.js")
        @Scripts.Render("~/js/index.js")
        @Scripts.Render("~/js/gbscript.js")
        @Scripts.Render("~/js/jquery-confirm.js")


</body>
</html>
