
@{
    ViewBag.Title = @CSWSWEBResources.Resource.ForgetPswd;
    ViewBag.BKImagHolder = "<div class=\"background_image_holder signin_img\">";
    Layout = "~/Views/Shared/_csLayout.cshtml";
}
@Styles.Render("~/Content/signup.css")

<div class="signin_space"></div>
<div class="forget_content signin_opactiy">
    <div class="content-middle-holder">
        <form name="frm_forgetpass" id="frm_forgetpass">

            <div class="signup_title signin_text_holder">@CSWSWEBResources.Resource.ChangeYourPswd</div>

            <div class="signup_title sub_title_holder">@CSWSWEBResources.Resource.LetsFindYRAcnt</div>

            <div class="signup_title control_holder">
                <input type="email" class="signup_control signin_input" name="email" placeholder="@CSWSWEBResources.Resource.EmailAddress" id="email" title="@CSWSWEBResources.Resource.EmailAddress" oninvalid="setCustomValidity('@CSWSWEBResources.Resource.PleaseEnterValidEmail')" oninput="    setCustomValidity('')" required />
            </div>

            <div class="signup_title control_holder"> <button type="submit" formmethod="post" class="btn btn-xs btn-danger signup_submit btn_getpass">@CSWSWEBResources.Resource.Submit</button></div>
            <input class="culture_code" type="hidden" name="culture_code" id="culture_code" value="en-ca" />
        </form>
    </div>
</div><!--div class="content"-->

@Scripts.Render("~/js/signup.js")
