
@{
    ViewBag.Title = @CSWSWEBResources.Resource.ResetPswd;
    ViewBag.BKImagHolder = "<div class=\"background_image_holder signin_img\">";
    Layout = "~/Views/Shared/_csLayout.cshtml";
}
@Styles.Render("~/Content/signup.css")

<div class="signin_space"></div>
<div class="reset_pass_content signin_opactiy">
    <div class="content-middle-holder">
        <form name="frm_resetp" id="frm_resetp">
            <div class="signup_title signin_text_holder">@CSWSWEBResources.Resource.CreateNewPswd</div>

            <div class="signup_title sub_title_holder sExpired">@CSWSWEBResources.Resource.SorrySessionExpired</div>
            <div class="retrive">
                <div class="signup_title sub_title_holder">@CSWSWEBResources.Resource.CaseSensitive</div>
                <div class="signup_title sub_title_holder">@CSWSWEBResources.Resource.SpecialCharatorAvoidCommonWds</div>

                <div class="signup_title control_holder">
                    <input type="password" class="signup_control signin_input" name="password" placeholder="@CSWSWEBResources.Resource.NewPswd" id="password" pattern=".{0-9}|.{6,}" title="@CSWSWEBResources.Resource.Password" required oninvalid="setCustomValidity('@CSWSWEBResources.Resource.PleaseEnterValidPswd')" oninput="setCustomValidity('')"/>
                </div>

                <div class="signup_title control_holder">
                    <input type="password" class="signup_control signin_input" name="re_password" placeholder="@CSWSWEBResources.Resource.PassworfCfrm" id="cfm_password" pattern=".{0-9}|.{6,}" title="@CSWSWEBResources.Resource.PassworfCfrm" required oninvalid="setCustomValidity('@CSWSWEBResources.Resource.PleaseEnterValidPswd')" oninput="setCustomValidity('')"/>
                </div>


                <div class="signup_title control_holder"> <button type="submit" formmethod="post" class="btn btn-xs btn-danger signup_submit btn_reset">@CSWSWEBResources.Resource.Submit</button></div>
                <input type="hidden" name="reset_id" id="input_reset_id">
            </div>
        </form>

    </div>
</div><!--div class="content"-->

@Scripts.Render("~/js/signup.js")
